* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f7f7;
    color: #333;
}

header {
    background: #111;
    padding: 15px 0;
}
img{width:30%; height: 100%;}
nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
	background-image : url(images/fond0.jpg);

}

nav h1 {
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: gold;
}

.hero {
    height: 70vh;
    background-image: url(images/fond0.jpg);
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
}

section {
    padding: 60px 10%;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background: gold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: orange;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.success {
    color: green;
    margin-top: 10px;
}
